input_videos/*
output_videos/*
datasets/images
datasets/labels
!input_videos/.gitkeep
!output_videos/.gitkeep
!output_videos/debugs/.gitkeep
!output_videos/combined/.gitkeep
!output_videos/events/.gitkeep
!datasets/images/.gitkeep
!datasets/labels/.gitkeep
!datasets/.gitkeep

# Images
*.jpg
*.jpeg
*.png
*.pyc
*.LRF
*.LRF
*.zip
*.tar.gz
*.tar
*.mp4


# Labels
*.txt

# Training outputs
runs/
weights/
